<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814483355425-hr60urdcji9i08lb9no9h0s5f63ircpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814483355425-hr60urdcji9i08lb9no9h0s5f63ircpp</string>
	<key>API_KEY</key>
	<string>AIzaSyC8jIF-Unn2JE87-AhNDNzULScFLM0_764</string>
	<key>GCM_SENDER_ID</key>
	<string>814483355425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandbox.scrap</string>
	<key>PROJECT_ID</key>
	<string>scrap-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>scrap-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814483355425:ios:521529420fd85d9c383060</string>
	<key>DATABASE_URL</key>
	<string>https://scrap-sandbox.firebaseio.com</string>
</dict>
</plist>